@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050910;
  /* background-color: #1b1c1c; */
  user-select: none;
}
#explore {
  left: 10%;
}
@media (max-width: 700px) {
  #explore {
    top:50%;
    left: 20px;
  }
}
